<% if bookshelf.errors.any? %>
<div class="alert alert-danger" role="alert">
  <ul>
      <% bookshelf.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
  </ul>
</div>
<% end %>

<%= form_for [user, bookshelf] do |f| %>
  <strong><%= f.label :name %></strong>
  <%= f.text_field :name, class:"form-control" %><br>
  <strong><%= f.label :description %></strong>
  <%= f.text_area :description, class:"form-control" %><br>
  <%= f.submit class: "btn btn-primary" %>
<% end %>