<% content_for :header do %>
  <h1><%= @book.title %></h1>
<% end %>

<% content_for :vertical_nav do %>
  <ul class="nav flex-column">
    <li class="nav-item mb-3">
      <%= button_to "Back to Books", books_path, :method => "get", class: "btn btn-info btn-block" %>
    </li>
    <% if @book.created_by == current_user.id %>
      <li class="nav-item mb-3">
        <%= button_to "Update Book Details", edit_book_path(@book), :method => "get", class: "btn btn-info btn-block" %>
      </li>
    <% end %>
    <li class="nav-item">
      <%= button_to "Add to A Bookshelf", new_book_entry_path(@book), :method => "get", class: "btn btn-info btn-block" %>
    </li>
  </ul>
<% end %>

<% content_for :content do %>
  <p><%= @book.description %></p>
  <p><strong>Author</strong>: <%= link_to @book.author.name, author_path(@book.author) %></p>
<% end %>

